In [1]:
from sklearn.datasets import fetch_california_housing

california_housing = fetch_california_housing(as_frame=True)

In [2]:
df = california_housing.frame
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [3]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
scaled_features = StandardScaler().fit_transform(df)

In [4]:
scaled_features

array([[ 2.34476576,  0.98214266,  0.62855945, ...,  1.05254828,
        -1.32783522,  2.12963148],
       [ 2.33223796, -0.60701891,  0.32704136, ...,  1.04318455,
        -1.32284391,  1.31415614],
       [ 1.7826994 ,  1.85618152,  1.15562047, ...,  1.03850269,
        -1.33282653,  1.25869341],
       ...,
       [-1.14259331, -0.92485123, -0.09031802, ...,  1.77823747,
        -0.8237132 , -0.99274649],
       [-1.05458292, -0.84539315, -0.04021111, ...,  1.77823747,
        -0.87362627, -1.05860847],
       [-0.78012947, -1.00430931, -0.07044252, ...,  1.75014627,
        -0.83369581, -1.01787803]])

In [5]:
df = scaled_features

In [6]:
from sklearn.cluster import KMeans

In [7]:
#training the K-means model on a dataset  
k = [2, 3, 4, 5]
clusters=[]
for i in k:
  kmeans = KMeans(n_clusters=i, n_init='auto', random_state= 101, max_iter=10**4, tol=1e-3)  
  y_predict= kmeans.fit_predict(df)
  clusters.append(y_predict)

In [8]:
clusters

[array([1, 1, 1, ..., 0, 0, 0], dtype=int32),
 array([0, 0, 0, ..., 0, 0, 0], dtype=int32),
 array([1, 1, 1, ..., 0, 0, 0], dtype=int32),
 array([1, 1, 1, ..., 0, 0, 0], dtype=int32)]

In [9]:
import numpy as np
import random as rd

In [10]:
# def L1(point, data):
    
#     return (np.sum(abs(point - data), axis=1))

In [11]:
class KMeans_l1:
    def __init__(self,k):
        self.k = k

    def fit(self,X,MAXITER = 10**4, TOL = 1e-3):
        centroids = np.random.rand(self.k,X.shape[1])
        centroidsold = centroids.copy()
        for iter_ in range(MAXITER):
            dist = np.linalg.norm(X - centroids[0,:],axis=1,ord=1).reshape(-1,1)
            for class_ in range(1,self.k):
                dist = np.append(dist,np.linalg.norm(X - centroids[class_,:],axis=1,ord=1).reshape(-1,1),axis=1)
            classes = np.argmin(dist,axis=1)
            # update position
            for class_ in set(classes):
                centroids[class_,:] = np.mean(X[classes == class_,:],axis=0)
            if np.linalg.norm(centroids - centroidsold,ord=1) < TOL:
                break
                print('Centroid converged')
        self.centroids = centroids
    def predict(self,X):
        dist = np.linalg.norm(X - self.centroids[0,:],axis=1,ord=1).reshape(-1,1)
        for class_ in range(1,self.k):
            dist = np.append(dist,np.linalg.norm(X - self.centroids[class_,:],axis=1,ord=1).reshape(-1,1),axis=1)
        classes = np.argmin(dist,axis=1)
        return classes

In [12]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
kmeans = KMeans_l1(2)
kmeans.fit(df)
classes=kmeans.predict(df)
pd.DataFrame(classes)

       0
0      1
1      1
2      1
3      1
4      1
...   ..
20635  0
20636  0
20637  0
20638  0
20639  0

[20640 rows x 1 columns]

In [14]:
kmeans = KMeans_l1(3)
kmeans.fit(df)
classes=kmeans.predict(df)
pd.DataFrame(classes)

       0
0      0
1      0
2      0
3      1
4      1
...   ..
20635  1
20636  1
20637  1
20638  1
20639  1

[20640 rows x 1 columns]

In [15]:
kmeans = KMeans_l1(4)
kmeans.fit(df)
classes=kmeans.predict(df)
pd.DataFrame(classes)

       0
0      3
1      3
2      3
3      0
4      0
...   ..
20635  0
20636  0
20637  0
20638  0
20639  0

[20640 rows x 1 columns]

In [16]:
kmeans = KMeans_l1(5)
kmeans.fit(df)
classes=kmeans.predict(df)
pd.DataFrame(classes)

       0
0      2
1      2
2      2
3      3
4      3
...   ..
20635  3
20636  3
20637  3
20638  3
20639  3

[20640 rows x 1 columns]